[2021-08-02 23:26] chenrujun opened #19 "Add new sample about azure-security-keyvault-jca"

[2021-08-06 06:59] chenrujun commented on #19
Closing this issue. Use this one instead: https://github.com/Azure/azure-sdk-for-java/issues/23397

[2021-08-06 07:00] #19 closed

[2021-08-09 22:29] Iron-Stark opened #25 "azure-spring-integration-sample-servicebus not working with msi/service principle"
### This issue is for a: (mark with an `x`)
[code]

### Minimal steps to reproduce

[code]

After that ran the ServiceBusIntegrationApplication.java file which fails with the following error:

`org.springframework.beans.factory.UnsatisfiedDependencyException: Error creating bean with name 'queueMessageChannelAdapter' defined in class path resource [com/azure/spring/sample/servicebus/QueueReceiveCo

[2021-08-10 03:21] backwind1233 opened #26 "Unify Sample's readme template"
Each Sample in this repo should share one common structure or template ,eg: readme
Eg: Readme Structure
- Goal
- Key concepts
- How to config
  - connectionString
  - service principal
    - Access control (IAM) :assign role
  - msi
- configurable parameters
- Running locally
- deployment
  - Deploy to Azure Spring Cloud

[2021-08-10 07:21] chenrujun commented on #26
And the readme in the service /  artifact-id level should be more tutorial like.
One tutorial can include multiple sample applications.
Just like this one: https://spring.io/guides/tutorials/spring-boot-oauth2/

[2021-08-11 02:42] backwind1233 commented on #25
@Iron-Stark thanks for reaching us, I am looking into this issue and I will reply you today.

[2021-08-11 06:46] backwind1233 commented on #25
Hi, @Iron-Stark I tried  azure-spring-integration-sample-servicebus with configration below, and it worked, I didn't reproduce your problem.
[code]

![image](https://user-images.githubusercontent.com/4465723/128982000-282af7bd-e7b7-4e91-9795-8b2a89789e53.png)

Did you give your principle the right role through the **Access control** (IAM)?

[2021-08-11 20:51] Iron-Stark commented on #25
@backwind1233 Thank you for your reply.

Yes I did give my principal the owner role through IAM. I am facing two problems:
1. The YAML configs are not working for me directly. I had to put things in application.properties file instead. For e.g. for connection string to work - I created a application.properties file and added this property:spring.cloud.azure.servicebus.connectionstring=Endpoint=...

[2021-08-11 21:54] Iron-Stark commented on #25
![image](https://user-images.githubusercontent.com/22685710/129102733-fd3fe236-7f8d-44a7-bfbc-f81bbda65c8f.png)

![image](https://user-images.githubusercontent.com/22685710/129108198-20f3b26c-9144-4a91-bc16-ee7ced4cea54.png)

![image](https://user-images.githubusercontent.com/22685710/129108287-e575f6e9-9f10-47ea-a2cd-c57a20faf164.png)

![image](https://user-images.githubusercontent.com/22685710/1

[2021-08-11 21:55] Iron-Stark commented on #25
I have attached screenshots of all the things I am providing and the error message I am getting:

`[INFO] Scanning for projects...
[INFO]
[INFO] ----< com.azure.spring:azure-spring-integration-sample-servicebus >-----
[INFO] Building Azure Spring Integration Sample Service Bus 1.0.0
[INFO] --------------------------------[ jar ]---------------------------------
[INFO]
[INFO] >>> spring-boot-maven-

[2021-08-11 21:56] Iron-Stark commented on #25
In the above error message I updated the application-sp.yaml file with the required values and then did mvn spring-boot:run.

[2021-08-11 22:41] Iron-Stark commented on #25
[code]

this is my environment

[2021-08-12 02:30] backwind1233 opened #30 "Make samples configuration file consistent"
**Context**
Samples in [azure-spring-boot-samples](https://github.com/Azure-Samples/azure-spring-boot-samples/), some configuration files are in yaml format, while others are in properties format.

**Goal**
Use yaml format as the format of configuration files for all samples.

[2021-08-13 11:05] backwind1233 commented on #25
Hi @Iron-Stark, thank you for your reply.
Since you were using `application-sp.yaml`, I think you should run with `mvn spring-boot:run -Dspring-boot.run.profiles=sp`
if you run with `spring-boot:run`, it will use `application.yaml` instead of `application-sp.yaml`

[2021-08-16 02:26] backwind1233 opened #32 "All Samples tasks in September"
This issue is used to track all sample tasks in September

- [ ] Add imports in code samples.

[2021-08-16 03:00] chenrujun opened #33 "Problems in azure-spring-boot-starter-keyvault-secrets"
- The sample talks about how to load specific secrets or all secrets from a Key Vault. What it doesn't say is that the user won't be able to access said secrets's properties, only their values, which will be loaded as properties of the Spring app.
- The application.properties sample includes a couple properties that are mentioned for the first time here:
[code]
 - The explanation about what these

[2021-08-18 09:35] euchungmsft opened #34 "PoolAcquirePendingLimitException, Pending acquire queue has reached its maximum size of 1000"
### This issue is for a: (mark with an `x`)
[code]

### Minimal steps to reproduce

1. clone this
https://github.com/Azure-Samples/azure-spring-boot-samples/tree/tag_azure-spring-boot_3.6.0/eventhubs/azure-spring-cloud-sample-eventhubs-binder

2. posting thousands of messages to the event hub

3. and run `mvn spring-boot:run`

### Any log messages given by the failure

2021-08-18 18:04:52.407  INF

[2021-08-19 14:48] backwind1233 commented on #34
hi @euchungmsft,thanks for reaching us, we will look into it and reply to you soon.

[2021-08-19 14:55] backwind1233 opened #35 "Replace the dependency version with variable and pom in sample's pom."
After spring release every month, it is required to run a python script to udgrade all samples' version in the repo, it will update about 40 files.
it can be improved with maven properties and import pom dependency.

[2021-08-23 09:02] yiliuTo commented on #34
Hi @euchungmsft , could you provide below information to help us investigate this issue?
1. How do you post messages to the event hub?
2. Hope you could provide your configuration of checkpointing,e.g., the application.yaml/application.properties for checkpointing and also the code. We would like to know if you use your customized way of checkpointing.

[2021-08-23 15:42] cccs-cat001 opened #36 "OBO example doesn't work properly"
### This issue is for a: (mark with an `x`)
[code]

### Minimal steps to reproduce
1. Complete the example found [here](https://github.com/Azure-Samples/azure-spring-boot-samples/tree/main/aad/azure-spring-boot-starter-active-directory/aad-resource-server-obo), I did the bare minimum and just did the graph access. Don't worry about the other resource server examples in the properties file.
2. With

[2021-08-24 09:08] backwind1233 commented on #36
Hi @chenrujun, please take a look at this issue.

[2021-08-24 17:37] cccs-cat001 commented on #36
I think I've found a solution, whether it's actually correct or not, it works for me, here's what I've changed:
[code]

As well as this change to the class variables:
[code]

[2021-08-24 18:03] cccs-cat001 commented on #36
With a bit more experimenting it looks like the two `attribute` lines adding in the request/response can go too. Not sure what the purpose of those were.

[2021-08-29 11:55] backwind1233 opened #40 "Tasks about updating links in spring.io"
**Context**
We should update the link of  https://spring.io/projects/spring-cloud-azure#samples  when sample is adjusted.
Now the link in https://spring.io/projects/spring-cloud-azure#samples is [azure-spring-boot-samples](https://github.com/Azure-Samples/azure-spring-boot-samples).
<img width="866" alt="image" src="https://user-images.githubusercontent.com/4465723/167233628-e9ec69c6-091e-4cda-b65

[2021-09-01 01:59] backwind1233 opened #42 "Update dependency versions in samples monthly"
**Overview**
Spring cloud starter team will do spring release every month, so the dependency versions in samples need to be udpated monthly.

- [x] [21.08-Update dependency versions in samples ](https://github.com/Azure-Samples/azure-spring-boot-samples/pull/41)

[2021-09-01 05:07] euchungmsft commented on #34
Hi @yiliuTo

1. Simply pushed it to EH, source code is over here,
https://github.com/euchungmsft/azure-examples/blob/main/az-eventhub-native/src/main/java/com/eg/az/eh/nat/Sender.java

2. Almost no changes from the example, source code is over here,
https://github.com/euchungmsft/azure-examples/tree/main/azure-spring-cloud-sample-eventhubs-binder

You can reproduce the issue by simply running the

[2021-09-03 01:24] backwind1233 opened #43 "Prepare Java Day GCR(9.17) aad-starter demo"
prepare a demo about aad-starter on 9/17 Java Day GCR.
- [Demo Repo](https://github.com/chenrujun/spring-security-samples/tree/spring-one-demo-2021-08-30/servlet/spring-boot/java/oauth2/spring-one-demo)

[2021-09-05 23:45] chenrujun commented on #36
Hi, @zhichengliu12581 , could you please assign this issue to you?

[2021-09-06 04:54] euchungmsft commented on #34
![image](https://user-images.githubusercontent.com/20915976/132162550-c6ca9c70-6e93-490c-8ed1-bc6222fc336a.png)

[2021-09-07 14:25] vyom-soft opened #44 "Failed to create consumer binding; retrying in 30 seconds"
I followed the Spring Cloud Azure Stream Binder for Service Bus topic Sample shared library for Java.
While doing so and when the app is launched it throws : **Failed to create consumer binding; retrying in 30 seconds**

(https://github.com/Azure/azure-sdk-for-java/issues/24040)

`org.springframework.cloud.stream.binder.BinderException: Exception thrown while starting consumer:
	at org.springframe

[2021-09-08 06:39] zhichengliu12581 commented on #36
Hi, @cccs-cat001
This problem is caused by Spring's inability to recognize the custom `AuthorizationGrantType`, and it has been fixed in this [pr](https://github.com/Azure/azure-sdk-for-java/pull/23366).
**3.8.0** is now available, you can try to upgrade the **azure-spring-boot-starter-active-directory**.

The solution you gave is feasible, it will execute obo flow again.
But if you have accessed

[2021-09-14 00:42] backwind1233 commented on #44
@vyom-soft thanks for your reply,
@yiliuTo could you help look into this issue?

[2021-09-14 00:45] backwind1233 commented on #44
related with https://github.com/Azure/azure-sdk-for-java/issues/24040

[2021-09-14 00:47] backwind1233 commented on #44
close this issue, because it is tracked in https://github.com/Azure/azure-sdk-for-java/issues/24040

[2021-09-14 00:47] #44 closed

[2021-09-17 03:20] #43 closed

[2021-09-22 06:21] backwind1233 opened #50 "Spring-petclinic-microservices integrate with aad"
### Context
After the [PR](https://github.com/Azure-Samples/azure-spring-boot-samples/pull/49) is merged, we can do some checking and integration with aad.

### Goal
1. check that the commented aad code work well
2. integrate with aad after feature 4.0 is released

[2021-09-22 06:23] backwind1233 opened #51 "Complete all basic business logic when running spring-petclinic-visits-service"
After the [PR](https://github.com/Azure-Samples/azure-spring-boot-samples/pull/49) is merged

In the sample:spring-petclinic-microservices there are basic business logic not fully implemented.

[2021-09-26 10:47] zhichengliu12581 commented on #36
Close this issue because there is no further reply, if you have other questions, please reopen this issue.

[2021-09-26 10:47] #36 closed

[2021-09-27 02:36] backwind1233 commented on #51
https://github.com/Azure-Samples/azure-spring-boot-samples/pull/53

[2021-09-27 05:53] backwind1233 opened #54 "Github actions check failed"
in this repo, there are two github actions failed for a few days, the errors are:
1. too many checkstyle errors
2. incorrectted markdown broken links check

Sample [errors](https://github.com/Azure-Samples/azure-spring-boot-samples/pull/53/checks?check_run_id=3715887102)
![image](https://user-images.githubusercontent.com/4465723/134852074-c6303ab9-b2f1-4eb4-9745-f2c8cec2e8c8.png)

[2021-09-29 23:58] euchungmsft commented on #34
@yiliuTo  could you please share the status of this to me ? it's almost the time to move on to next step with this

[2021-10-12 08:16] chenrujun opened #58 "Delete all tags after we use spring-cloud-azure-dependencies:4.0.0"
[code]

Such kind of tag can be deleted after we use spring-cloud-azure-dependencies:4.0.0

[2021-10-12 08:18] chenrujun opened #59 "Make all artifact id same to folder name"
Current sample's artifact id is not same to folder name, for example:
![image](https://user-images.githubusercontent.com/13167207/136918778-c82c33f7-2742-4ca3-b411-a1aaa55e655c.png)

Use the same name will be more user-friendly.

[2021-10-12 08:21] chenrujun opened #60 "Use Azure AD instead of AAD"
Seems AAD is only used inside out team.

To make our sample more user friendly, we should use Azure AD instead of AAD. Including folder name and in README.md.

Here are the screen shots when I search `Azure AD` and `AAD` by google:
![image](https://user-images.githubusercontent.com/13167207/136919221-97ca0df9-604e-4dee-bbab-0f5fc8c97e87.png)
![image](https://user-images.githubusercontent.com/13167

[2021-10-13 00:55] #51 closed

[2021-10-15 01:34] euchungmsft commented on #34
Thank you so much for the feedback, customer's now ready to test this again. It's right on time

@yiliuTo  partition count is already 32 at its max, 2 was already done when I was raising this issue, let me test with 3

I'll get back to you soon, thanks

[2021-10-15 12:14] backwind1233 opened #63 "Redesign the sample of storage-resource"
**Context**
Now the sample code in about storage is not a good practice with spring resource,
we need to redesign and refactor with spring resource ResourceLoader and  resolver interface.

[2021-10-27 02:02] chenrujun opened #67 "Update MS doc about how to use Microsoft identity platform in application developed by Spring framework"
### Context

Now here are a lot of MS docs about Managed identity and Spring framework, but these pages didn't give the best solution. For example: these paged should introduce spring-security or spring-cloud-azure-azure-active-directory.

1. Add spring-security related sample here: https://docs.microsoft.com/en-us/azure/active-directory/develop/tutorial-v2-asp-webapp
![image](https://user-images.

[2021-10-28 00:58] chenrujun opened #69 "Add sample for Spring Cloud Gateway + Spring Security OAuth2 + Azure Active Directory."
Feature request comes from this page: https://spring.io/blog/2021/01/13/the-latest-on-azure-active-directory-integration

[2021-11-01 02:33] clavinovahan commented on #69
We also would like to know the solution. Does it work in Azure Spring Cloud?

https://azure.microsoft.com/en-us/services/spring-cloud/

[2021-11-01 08:59] chenrujun commented on #69
Hi, @clavinovahan .
Thanks for reaching out.

Currently, Azure Spring Cloud does not provide Gate Way by default, But customer can setup a Gate Way by himself.
The Gateway in Azure Spring Cloud is under developing.

[2021-11-01 16:21] clavinovahan commented on #69
Thanks, @chenrujun.

We are going to put our own Spring Cloud Gateway implementation with Spring Security OAuth2 and Azure AD on Azure Spring Cloud and runs API behind our gateway. Spring Cloud Gateway is reactive. So based on my understanding, there is no working solution currently for AD and you are working on the solution?

[2021-11-02 08:08] chenrujun commented on #69
@clavinovahan

Thank you for the detailed information.
I set this issue's milestone to `[2021] December`, which means my current plan is to finished this sample before 2021-12-03.

[2021-11-02 14:11] clavinovahan commented on #69
@chenrujun.

That is great! We are looking forward to your sample. The earlier the better if possible. Thanks a lot!

[2021-11-05 03:24] chenrujun commented on #69
Closing this issue, use this one to track this task: https://github.com/Azure-Samples/spring-boot-application-with-azure-active-directory/issues/4

[2021-11-05 03:24] #69 closed

[2021-11-17 07:07] chenrujun commented on #69
Hi, @stliu
FYI: This is the request about `Spring Cloud Gateway` and `Azure AD`.

[2021-11-19 02:59] chenrujun opened #77 "Update KeyVault Secrets' sample project, and write migration guide."
As title.

[2021-11-22 23:22] chenrujun commented on #77
Closing this issue because related PR has been merged.

[2021-11-22 23:22] #77 closed

[2021-11-23 05:58] chenrujun opened #95 "Update MS docs: Spring Cloud Azure 4.0"
# Target page:
 - https://docs.microsoft.com/en-us/azure/developer/java/spring-framework/
 - GitHub: https://github.com/MicrosoftDocs/azure-dev-docs-pr

**Note** that your PR should be a draft PR before 4.0 GA. And assign @chenrujun as assignee in your created draft PR.

# Tasks

## Before GA release.

1. Update project name to `Spring Cloud Azure`.
2. Update artifactId and version. (4.0 GA versio

[2021-11-23 23:20] chenrujun opened #97 "Update MS docs: Spring on Azure document"
As title.

Please refer to parent issue(#95) to get more information.

[2021-11-23 23:20] chenrujun opened #98 "Update MS docs: Spring Boot Starters for Azure"
As title.

Please refer to parent issue(#95) to get more information.

[2021-11-23 23:21] chenrujun opened #99 "Update MS docs: Security related page"
As title.

Please refer to parent issue(#95) to get more information.

[2021-11-23 23:21] chenrujun opened #100 "Update MS docs: Messaging related page"
As title.

Please refer to parent issue(#95) to get more information.

[2021-11-23 23:21] chenrujun opened #101 "Update MS docs: Storage and database related page"
As title.

Please refer to parent issue(#95) to get more information.

[2021-11-23 23:34] chenrujun opened #102 "Update MS docs: App configuration"
As title.

Please refer to parent issue(#95) to get more information.

[2021-11-30 01:20] chenrujun commented on #95
Hi, @backwind1233 , @saragluna , @yiliuTo . Could you please finish this task before 2021-12-10?

[2021-11-30 07:12] chenrujun commented on #95
Hi, @backwind1233 , @saragluna , @yiliuTo , @Netyyyy , @hui1110

**Note** that your PR should be a draft PR before 4.0 GA. And assign @chenrujun as assignee in your created draft PR.

[2021-12-02 01:08] saragluna commented on #95
The app configuration isn't in our 4.0 scope, so I think the docs don't need to be updated for app configuration?

[2021-12-02 01:23] chenrujun commented on #102
Closing this issue. because app configuration is not included in 4.0 scope.

[2021-12-02 01:23] #102 closed

[2021-12-02 01:23] chenrujun commented on #95
@saragluna Thank you for your information. I closed related sub task just now.

[2021-12-03 01:23] chenrujun commented on #95
Hi, @backwind1233 , @saragluna , @yiliuTo , @Netyyyy , @hui1110 .
Please finish this task before 2021-12-09, we need to let QA team test it before let Docs team review this PR.

[2021-12-06 00:50] chenrujun commented on #95
Hi, @backwind1233 , @saragluna , @yiliuTo , @Netyyyy , @hui1110 .

I created a new PR: https://github.com/MicrosoftDocs/azure-dev-docs-pr/pull/2487
Please merge you branch to `chenrujun:spring-cloud-azure_4.0` instead of `master`.
So that we can get the preview page in this page: https://review.docs.microsoft.com/en-us/azure/developer/java/spring-framework/configure-spring-app-with-cosmos-db-on-ap

[2021-12-07 04:34] jsmwoolf opened #110 "Azure B2C: Support for Webflux"
[code]

Would like the ability to use Webflux with the `azure-spring-boot-starter-active-directory-b2c` package.  If this is already supported, how exactly does one use it with Webflux?

[2021-12-07 20:39] clavinovahan commented on #69
@chenrujun, could you please update the sample link if it is already done. Thanks.

[2021-12-07 23:42] chenrujun commented on #69
@clavinovahan

Sorry that the sample is not finished yet.
Now we use this issue to track the tasks about creating samples: https://github.com/Azure/azure-sdk-for-java/issues/25817

Hi, @stliu , @seanli1988,
FYI: Here is another customer ask.

[2021-12-08 01:30] chenrujun commented on #98
Closing this issue, because contents already contained in this PR: https://github.com/MicrosoftDocs/azure-dev-docs-pr/pull/2487

[2021-12-08 01:30] #98 closed

[2021-12-08 01:31] chenrujun commented on #97
Closing this issue, because contents already contained in this PR: MicrosoftDocs/azure-dev-docs-pr#2487

[2021-12-08 01:31] #97 closed

[2021-12-08 09:23] chenrujun commented on #99
PR created: https://github.com/chenrujun/azure-dev-docs-pr/pull/5

[2021-12-13 07:06] backwind1233 commented on #101
linked pr:https://github.com/chenrujun/azure-dev-docs-pr/pull/6

[2021-12-14 09:20] backwind1233 commented on #101
linked pr:https://github.com/chenrujun/azure-dev-docs-pr/pull/6

[2021-12-17 03:36] chenrujun commented on #99
Closing this issue because PR merged.

[2021-12-17 03:36] #99 closed

[2022-01-06 04:28] backwind1233 commented on #110
@chenrujun could you help look at this issue

[2022-01-06 04:34] backwind1233 opened #141 "[Bug] multiple-namespaces throw exceptions when running in WSL with defaultCredential"
The sample multiple-namespaces will throw exceptions when running in WSL

[code]

How to reproduce this issue:
- follow this guide and run in WSL.

[2022-01-06 04:37] backwind1233 opened #142 "Samples don't work as expected in WSL"
Tracked in https://github.com/Azure/azure-sdk-for-java/issues/26301

- [x] #141
- [x] #143

**The following samples do not work properly in WSL, this [link ](https://dev.azure.com/azure-spring-integration/spring-integration-private/_wiki/wikis/spring-integration-private.wiki/268/Run-the-sample-to-check-for-problems)has the details of the problem.**

| sample name |
| ---                 |
|eventhu

[2022-01-06 05:25] backwind1233 opened #143 "single-namespace can't receive requests running in wsl"

[2022-01-06 05:43] saragluna commented on #95
Close in favor of https://github.com/Azure/azure-sdk-for-java/issues/26307.

[2022-01-06 05:43] #95 closed

[2022-01-06 23:22] chenrujun commented on #110
@jsmwoolf  Thanks for reaching out. Now `azure-spring-boot-starter-active-directory-b2c` does not support web flux.

Now I have a plan to write sample to demonstrate AAD B2C + spring-security + web-flux. This sample will use spring-security, no `azure-spring-boot-starter-active-directory-b2c` included.

Refs: https://github.com/Azure/azure-sdk-for-java/issues/26333

[2022-01-11 06:01] backwind1233 opened #149 "Determine the content of readme and terraform template"
**Goal**
Address Issues from feedback about template of readme and terraform scripts.

**Context**
This is from PR： https://github.com/Azure-Samples/azure-spring-boot-samples/pull/137

---

| Problem | Context |
|---------|---------|
|   It maybe confused about the project root.      |   ![image](https://user-images.githubusercontent.com/4465723/150291504-457f71bf-4abc-4b29-919e-088e9230b819.png)

[2022-01-21 03:17] saragluna commented on #101
Closing this PR now.

[2022-01-21 03:17] #101 closed

[2022-01-26 03:23] hui1110 opened #170 "In Windows PowerShell, the sample does not work properly"
When running `terraform init` in Powershell, I get the following error:

[code]

Not getting this error after upgrading Terraform to the latest version.

[2022-01-26 03:24] hui1110 commented on #170
https://github.com/Azure/azure-sdk-for-java/issues/26699

[2022-01-26 03:24] #170 closed

[2022-02-08 09:16] backwind1233 commented on #141
Close this issue, it has been fixed in the [PR](https://github.com/Azure-Samples/azure-spring-boot-samples/pull/155)

[2022-02-08 09:16] backwind1233 commented on #143
Close this issue, it has been fixed in the [PR](https://github.com/Azure-Samples/azure-spring-boot-samples/pull/155)

[2022-02-08 09:16] #143 closed

[2022-02-08 09:16] backwind1233 commented on #142
Close this issue, it has been fixed in the [PR](https://github.com/Azure-Samples/azure-spring-boot-samples/pull/155)

[2022-02-08 09:16] #142 closed

[2022-02-17 00:35] PunithkumarJagadees opened #194 "Authentication Error when trying to access Storage Queue using service principal"
### This issue is for a: (mark with an `x`)
[code]

### Minimal steps to reproduce

https://github.com/Azure-Samples/azure-spring-boot-samples/tree/main/storage/azure-spring-cloud-starter-storage-queue/storage-queue-operation
I'm using intellij and trying to add a message to the queue and end up with the error. However I'm able to add a message using storage account and access key combination.

##

[2022-02-17 15:04] backwind1233 commented on #194
@PunithkumarJagadees thanks for reaching us, can you tell me what are the scenarios in which you use Storage Queue?

if you want to use service principal, you can refer to our new library(spring-cloud-azure-starter-integration-storage-queue:[4.0.0-beta.3](https://search.maven.org/artifact/com.azure.spring/spring-cloud-azure-starter-integration-storage-queue/4.0.0-beta.3/jar)), and refer to this [s

[2022-02-23 15:47] PunithkumarJagadees opened #202 "[Query] Consumer with Listener for Storage queues"
**Query/Question**
I'm looking to implement a consumer with a listener for storage queue. I referred to this branch ( https://github.com/Azure-Samples/azure-spring-boot-samples/tree/main/storage ) and did not find any implementation for listener. Could you please help to find any implementation?

***Why is this not a Bug or a feature Request?***
A clear explanation of why is this not a bug or a fe

[2022-03-02 02:35] backwind1233 commented on #202
@PunithkumarJagadees thank you for your feedback, I am not sure whether it meets your needs, we use spring integration to receive messages, you can refer to this [link](https://github.com/Azure-Samples/azure-spring-boot-samples/tree/spring-cloud-azure_4.0.0-beta.3/storage/spring-cloud-azure-starter-integration-storage-queue/storage-queue-integration).

[2022-03-17 16:45] maciejbak85 opened #224 "Spring boot azure keyvault refresh on demand"
I am using spring boot with azure's keyvault

[code]

but there is a problem, when I want to update secret.
How to force for example via rest api lets say, refresh of this value ?

`    @Value("${x-value}") private val xValue: String = "0"
`
thanks!

[2022-03-18 06:42] maciejbak85 commented on #224
https://github.com/Azure/azure-sdk-for-java/issues/27731

[2022-03-18 06:42] #224 closed

[2022-03-21 03:19] moarychan opened #228 "[Feature] Support to use Service Principal for Terraform authentication"
Currently, all the samples use the Azure Cli to authenticate with Azure, the Service Principal should also be supported.

[2022-03-21 07:29] moarychan commented on #228
After learning, the service principal authentication is easy to support, https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/guides/service_principal_client_secret.

[2022-03-21 07:29] #228 closed

[2022-03-25 03:12] jialigit commented on #100
close for pr merged.

[2022-03-25 03:12] #100 closed

[2022-03-25 03:13] yiliuTo commented on #100
Please link all the related PRs here

[2022-03-30 03:13] jialigit commented on #100
updated.

[2022-03-30 14:38] stliu opened #269 "Try enable this terraform security scanner"
**Context**
Our samples use terraform to provision resources by default, the [tfsec-pr-commenter-action](https://github.com/aquasecurity/tfsec-pr-commenter-action) can be used to scan our terraform security issues.

**Goal**
Try to enable the [tfsec-pr-commenter-action](https://github.com/aquasecurity/tfsec-pr-commenter-action) to make sure the security of terraform scripts.

[2022-04-06 05:49] backwind1233 commented on #26
Closing this issue, duplicated with https://github.com/Azure-Samples/azure-spring-boot-samples/issues/149

[2022-04-06 05:49] #26 closed

[2022-04-06 05:54] backwind1233 commented on #35
Closing this issue, it has been done by this [PR](https://github.com/Azure-Samples/azure-spring-boot-samples/pull/249/files)

[2022-04-06 05:54] #35 closed

[2022-04-06 05:56] backwind1233 commented on #42
Closing this issue, use monthly release wiki to track instead.

[2022-04-06 05:56] #42 closed

[2022-04-07 02:09] backwind1233 commented on #54
Closing this issue, the github actions have been updated and work fine now.

[2022-04-07 02:09] #54 closed

[2022-04-07 02:10] backwind1233 commented on #58
Closing this issue, since all tags begin with `<!-- {x-version-update` have been deleted in main branch.

[2022-04-07 02:10] #58 closed

[2022-04-07 02:29] euchungmsft commented on #34
Let's close this for now, I'll get back to you @yiliuTo once there's further request from them. Thans !!

[2022-04-07 02:29] #34 closed

[2022-04-19 09:34] moarychan opened #291 "[FEATURE REQ] The context of Azure CLI and the environment variables cannot be shared in Docker container"
The current samples are using Terraform to create and destroy Azure resources based on Azure CLI authentication, then output the environment variables to share the configuration of the Azure resources, but when the sample builds to a docker image, then the application can not read the environment variables and the context of Azure CLI when running in docker containers.

Hopefully, there is a gener

[2022-04-28 09:37] chenrujun commented on #110
Closing in favor of https://github.com/Azure/azure-sdk-for-java/issues/21290

[2022-04-28 09:37] #110 closed

[2022-04-28 09:38] chenrujun commented on #60
Closing this issue. 4.0 already GA, change the class name will bring breaking change. So now I don't have plan to change it.

[2022-04-28 09:38] #60 closed

[2022-04-28 09:40] chenrujun commented on #59
Closing this issue. artifact name is too long. The long folder name is not user friendly.

[2022-04-28 09:40] #59 closed

[2022-04-28 09:56] chenrujun commented on #33
Closing this issue because the sample has been updated: https://github.com/Azure-Samples/azure-spring-boot-samples/tree/spring-cloud-azure_v4.0.0/keyvault/spring-cloud-azure-starter-keyvault-secrets/property-source

[2022-04-28 09:56] #33 closed

[2022-04-29 01:26] jialigit commented on #194
@PunithkumarJagadees could you please provide more details about this issue?

[2022-04-29 06:29] saragluna commented on #202
Hi @PunithkumarJagadees do you mean message-driven listeners, like the listeners we provide for Event Hubs and Service Bus? Now the storage queue starter doesn't provide such a mechanism for users to register a consumer listener.

[2022-04-29 06:34] saragluna commented on #194
@PunithkumarJagadees the `spring-cloud-azure-starter-integration-storage-queue` has been GAed, and you can check our reference doc here https://microsoft.github.io/spring-cloud-azure/current/reference/html/index.html. Did you get a chance to give it a try with the service principal? Did it work now?

[2022-05-06 15:57] jimbethancourt opened #318 "File paths too long when cloning repo - please rename paths"
### This issue is for a: (mark with an `x`)
[code]

### Minimal steps to reproduce

### Any log messages given by the failure

[code]
### Expected/desired behavior

### OS and Version?

### Versions

### Mention any other details that might be useful

[2022-05-07 02:54] backwind1233 commented on #63
Closing this issue, the [sample](https://github.com/Azure-Samples/azure-spring-boot-samples/tree/spring-cloud-azure_v4.0.0/storage/spring-cloud-azure-starter-storage-blob/storage-blob-sample) has been refactored.

[2022-05-07 02:54] #63 closed

[2022-05-09 02:53] backwind1233 commented on #318
Hi @jimbethancourt,
Thank you for reaching out to us in GitHub; @chenrujun will follow up shortly.

[2022-05-09 05:00] chenrujun commented on #318
Hi, @jimbethancourt
Please try this:
[code]

Refs: https://stackoverflow.com/questions/22575662/filename-too-long-in-git-for-windows

[2022-05-09 06:56] chenrujun commented on #318
FYI:
I tried to find a way to let customer clone the repo without this command: `git config --system core.longpaths true`. But failed. Here are more details: `git config --system core.longpaths true` will add a new configuratoin item in `.gitconfig` file. But it is not possible to automatically include the custom configuration file through git alone, because it creates a security vulnerability.

R

[2022-05-09 07:53] jialigit opened #330 "[BUG] Unnecessary lines in terraform script"
**Describe the bug**
 For the following file:
https://github.com/Azure-Samples/azure-spring-boot-samples/blob/main/cosmos/spring-cloud-azure-starter-cosmos/spring-cloud-azure-cosmos-sample/terraform/main.tf

[code]

The following lines are duplicated:
[code]

***Exception or Stack Trace***
Add the exception log and stack trace if available

**To Reproduce**
Steps to reproduce the behavior:

***Cod

[2022-05-09 10:31] jialigit opened #331 "[FEATURE REQ] Support starter and its sample for Key vault Certificate 4.0.0"
**Is your feature request related to a problem? Please describe.**

As we can see in our [reference doc:4.0.0](https://microsoft.github.io/spring-cloud-azure/4.0.0/reference/html/index.html#production-ready)

But, we donot have starter and its sample for **Key vault Certificate** 4.0.0. So, to make our doc and artifacts compliant, we should supply a starter for Key Vault Certificate and one sample

[2022-05-12 06:44] backwind1233 commented on #30
Closing this issue, configuration files in [azure-spring-boot-samples](https://github.com/Azure-Samples/azure-spring-boot-samples/) are in ymal format now.

[2022-05-12 06:44] #30 closed

[2022-05-17 06:12] chenrujun commented on #318
Closing this issue.
1. Workaround has provided to customer.
2. There is no way to resolve this problem by add configuration files like `.gitconfig`.
3. Now we don't have plan to shorten the file path for all sample files.

[2022-05-17 06:12] #318 closed

[2022-06-13 15:13] soumabrata-chakraborty opened #393 "[QUERY] How to set the visibility timeout and checkpoint mode on StorageQueueTemplate?"
**Query/Question**
Earlier up to version 2.14.0 of the spring integration library for Azure Storage Queue, the StorageQueueMessageSource used to take a StorageQueueOperation object.  This was replaced by StorageQueueTemplate in version 4.0.0
The earlier StorageQueueOperation object allowed us to set the checkpoint mode and visibility timeout
These setters are missing in StorageQueueTemplate object

[2022-06-13 15:41] PunithkumarJagadees opened #394 "[BUG] Event Consumer throws an error when deployed in azure cluster"
**Describe the bug**
https://github.com/Azure-Samples/azure-spring-boot-samples/tree/spring-cloud-azure_v4.2.0/eventhubs/spring-cloud-azure-stream-binder-eventhubs/eventhubs-binder
The code sample present with above link works totally fine in my local using service principal. But it fails to consume while running in azure pipeline.

***Exception or Stack Trace***

[code]

**To Reproduce**
Deploy f

[2022-06-13 15:45] PunithkumarJagadees commented on #194
Resolved

[2022-06-14 14:00] jgossett opened #395 "[BUG] Terraform fails to create write permissions on Event Hub namespace."
**Describe the bug**
Terraform fails to create write permissions on Event Hub namespace in the spring-cloud-azure-starter sample.

***Exception or Stack Trace***
[code]

**To Reproduce**
1. Open Terminal.
2. Navigate to `azure-spring-boot-samples/eventhubs/spring-cloud-azure-starter-eventhubts/eventhubs-client`

***Code Snippet***
N/A

**Expected behavior**
Create the write premission.

**Screensh

[2022-06-14 16:27] jgossett commented on #395
Discovered the cause.

The azure user must be an subscription owner.

I am close this issue because there is no code change needed.

[2022-06-14 16:27] #395 closed

[2022-06-17 01:58] yiliuTo commented on #393
Hi @soumabrata-chakraborty thanks for reaching us. There is the breaking changes about the visibility timeout and checkpoint mode for StorageQueueTemplate compared with StorageQueueOperation.
For visibility timeout, now we don't provide any API to set a default visibility timeout for the template object, while when using the `StorageQueueTemplate` directly you can call the `StorageQueueTemplate#re

[2022-06-17 12:41] PunithkumarJagadees commented on #394
@yiliuTo this started working once we gave network access for traffic using azure portal. It was never an issue with code.
Thank you for your support

[2022-06-17 12:41] #394 closed

[2022-06-20 07:16] soumabrata-chakraborty commented on #393
Hi @yiliuTo - thanks for response.  This breaking changes introduces missing functionality for usage with spring integration.
I understand the change for the Checkpoint mode being `MANUAL`.  This was the recommended approach for spring integration earlier too.
However, not being able to specify visibility timeout in `StorageQueueMessageSource` is an issue.
I am using `StorageQueueMessageSource` wi

[2022-06-20 08:53] yiliuTo commented on #393
Hi @soumabrata-chakraborty your request fully makes sense to us. And the reason why we decided to remove the option of visibility timeout from `StorageQueueTemplate` is that, we think this property is related with each message instead of the whole `StorageQueueTemplate`, thus we don't think `StorageQueueTemplate` should hold a member of visibilty timeout.
Also your contribution is always welcome,

[2022-06-20 15:31] soumabrata-chakraborty commented on #393
Please refer https://github.com/Azure/azure-sdk-for-java/issues/29566

[2022-06-21 06:31] chenrujun opened #398 "Not use tags like `azure-spring-boot_3.6.0` in links"
## Context

In current main branch, there are a lot of links like `https://github.com/Azure/azure-sdk-for-java/blob/azure-spring-boot_3.6.0/sdk`. which contains `azure-spring-boot_3.6.0`. That is not right, we should use latest tag instead, for example: `spring-cloud-azure_4.2.0`. You can search `/azure-spring-boot_` in current repo to get all these links. Here is screenshot of search result:

![i

[2022-06-24 02:30] yiliuTo commented on #393
Hi @soumabrata-chakraborty  the pr has been merged and you can look forward to our next release which is expected to be published in this month.

[2022-06-24 02:30] #393 closed

[2022-06-29 11:31] Girish662 opened #404 "[Query]"
**Query/Question**
Azure Spring cloud dependency uses default 8080 port while sso redirect can we change the default port to 8443
note : i have use server.port =8443 to change the port but still redirects to port 8080
***Why is this not a Bug or a feature Request?***

**Setup (please complete the following information if applicable):**
- OS:
- IDE:
- Sample Path:
- Library/Libraries:

**Informatio

[2022-06-30 01:34] backwind1233 commented on #404
Hi @Girish662, thanks for reaching out.
which library do you use, can you tell us the scenario you use the library?
you said `redirects to port 8080`, do you mean the redirect URL configured in AAD?

I am not very clear about your problem, can you provide more details?

[2022-07-11 05:39] backwind1233 opened #430 "[BUG] Fix terraform errror when upgrading azure cli to 2.38.0"
**Describe the bug**

***Exception or Stack Trace***

**To Reproduce**

***Code Snippet***

**Expected behavior**

**Screenshots**

**Setup (please complete the following information):**
- OS:
- IDE:
- Sample Path:
- Library/Libraries:
- Java version:
- App Server/Environment:
- Frameworks:

**Additional context**

**Information Checklist**

- [ ] Bug Description Added
- [ ] Repro Steps Added
- [

[2022-07-11 05:48] backwind1233 commented on #430
Here is the result of running terraform scripts with different hashicorp/azurerm versions:

Module|Version
-- | --
Az Cli version | 2.38.0
terraform Version | v1.2.4 on darwin_arm64
hashicorp/azurerm | 3.9.0

<img width="526" alt="CleanShot 2022-07-11 at 13 34 26@2x" src="https://user-images.githubusercontent.com/4465723/178195612-56022d6f-8a11-4afb-b058-725f29efe722.png">

----
Module|Version
--

[2022-07-14 01:54] backwind1233 commented on #330
Close this issue, the issue has been fixed in this [PR](https://github.com/Azure-Samples/azure-spring-boot-samples/pull/436).

[2022-07-14 01:54] #330 closed

[2022-07-14 13:15] saragluna commented on #430
Fixed in #435.

[2022-07-19 21:05] vaculajm opened #442 "[BUG] all properties for app configuration under stores[] appear to be ignored in bootstrap.yaml"
**Describe the bug**
Using bootstrap.yaml to configure app configuration, the properties under stores[] are populated are being ignored.  The bootstrap.yaml values that I have are pasted below, The endpoint seems to work only because it is the same as the environment variable used by default.  Also, auto-complete in the yaml editor doesn't show any of the properties under stores[] :
`spring:
  clo

[2022-08-09 06:22] moarychan commented on #442
Hi @mrm9084 , please take a look.

[2022-08-09 18:27] mrm9084 commented on #442
@vaculajm can you verify that this is what you have? The format seems to be messed up in the original comment.
[code]
Second, wed don't look at environment variables for endpoints so it is coming from your config.
Third, I think it is reading it fine, you are just missing the wildcard for the key-filter. It should be `key-filter: /myfilter/*`
Fourth, where did you get these properties ` managed-id

[2022-08-14 13:56] stliu commented on #404
@backwind1233 this has been left there for 2 months, we don't have a bot to auto close issues in this repo, right?

Could you check with eng-sys team and see if they could enable the bot for this repo as well?

And update the issue title next time

[2022-08-14 13:57] stliu commented on #404
closing since no response from the author for a long time, please create a new issue if you need further help, thanks

[2022-08-14 13:57] #404 closed

[2022-08-15 17:59] hniehaus-nlb opened #460 "[QUERY]"
**Query/Question**
Will there be an example with MSAL / spring-cloud-azure-dependencies for authenticate-using-private-key-jwt?

***Why is this not a Bug or a feature Request?***
Example for spring boot oauth2 is working.

**Setup (please complete the following information if applicable):**
- OS: -
- IDE: -
- Sample Path: https://github.com/Azure-Samples/azure-spring-boot-samples/tree/spring-cloud

[2022-08-15 21:28] vaculajm commented on #442
Sorry for the delayed response as I was traveling.  I found the issue in a dependency that had an old version (1.2) of an azure app config dependency that was superseding the bootstrap.yml of this application hence why the endpoint was successfully being reached.  However, in your response above, putting the asterisk in the filter will cause the a failure on startup, and the managed-identity-enabl

[2022-08-15 21:28] #442 closed

[2022-08-16 10:55] moarychan commented on #460
Hi @hniehaus-nlb , thanks for using it!

we will provide a new sample project using the client method `private-key-jwt` soon.
The following is a temporary simple guide for you.

1. Setup the projects [aad-web-application(webapp)](https://github.com/Azure-Samples/azure-spring-boot-samples/tree/main/aad/spring-cloud-azure-starter-active-directory/web-client-access-resource-server/aad-web-application

[2022-08-16 14:40] hniehaus-nlb commented on #460
Hi @moarychan , thanks for the update and example. Just today I found the guide you mentioned, too. That was my missing link ;-)

[2022-08-19 13:33] hniehaus-nlb commented on #460
Sorry, this was my missing link: https://github.com/moarychan/azure-sdk-for-java/wiki/JWT-Client-Authentication-support-design-for-Spring-Cloud-Azure-AD

[2022-08-26 05:46] #398 closed

[2022-09-15 06:48] ilyas-nordlb opened #489 "[QUERY] Support and documentation about using AzureAD Spring Boot Starter with WebFlux (Reactive Spring)"
**Query/Question**
Does spring-cloud-azure-starter-active-directory support Webflux (Reactive Spring)?

Provided example throws following exception when used with Webflux: java.lang.ClassNotFoundException: javax.servlet.Filter

***Why is this not a Bug or a feature Request?***
There is no clear statement about Webflux-Support on documentation pages.

**Setup (please complete the following informat

[2022-09-15 17:05] Eimert opened #490 "[QUERY] spring-cloud-azure-starter-active-directory 4.3.0 disable Azure Event Hubs"
**Query/Question**
**Not sure if this question belongs here.** Going from v4.2.0 to v4.3.0 of this dependency I was slapped in the face by an exception at startup:
`"Invalid" bootstrap servers configured for Azure Event Hubs for Kafka! Must supply exactly 1 non-null bootstrap server configuration, with the format (..)"`

**I don't want to use [Azure Event Hubs](https://azure.microsoft.com/en-us/se

[2022-11-02 01:49] yiliuTo commented on #489
@chenrujun please help to take a look.

[2022-11-02 01:53] yiliuTo commented on #202
Close this issue since there is no response for long

[2022-11-02 01:53] #202 closed

[2022-11-02 01:55] moarychan commented on #460
HI @hniehaus-nlb , I am closing this issue since no further comments added, if you have any questions please reopen this one or create a new issue, thanks!

[2022-11-02 01:55] #489 closed

[2022-11-02 02:12] yiliuTo commented on #490
@Eimert sorry for the late response. This bug has been fixed in 4.4.0, so you can upgrade to 4.4.0 and higher version without any code changes. If you still want to use 4.3.0, you have to exclude the autoconfiguration of `com.azure.spring.cloud.autoconfigure.kafka.AzureEventHubsKafkaOAuth2AutoConfiguration`, for example, adding a property of
[code]

[2022-11-02 02:13] #490 closed

[2022-11-02 10:57] Eimert commented on #490
Using the latest version fixed it for us, thank you @yiliuTo.

[2022-11-06 23:35] chenrujun opened #551 "[FEATURE REQ] Update sample of Azure AD B2C resource-server"
### Context

Customer has more asks for Azure AD B2C resource-server: https://github.com/MicrosoftDocs/azure-dev-docs/issues/937#issuecomment-1303066933

1) Should explain how to get the access token in Postman. I remember
struggling a lot with this one.
2) The sample uses the deprecated WebSecurityConfigurerAdapter. Should
usse org.springframework.security.web.SecurityFilterChain
3) Would be nice

[2022-11-10 12:02] einue opened #557 "[BUG] aad-resource-server redirectes to LoginPage"
I checked out your repo and test it. When I try to connect with postman to webapi, my call redirects always to login-page. Is there some configuration missing?

my pom file:
`<?xml version="1.0" encoding="UTF-8"?>
<project xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://maven.apache.org/POM/4.0.0"
         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apach

[2022-11-11 02:54] backwind1233 commented on #557
@chenrujun could you help handle this issue?

[2022-11-11 06:58] chenrujun commented on #557
Hi, @einue

Thanks for reaching out.

I used the pom you provided in this branch: [chenrujun/azure-spring-boot-samples](https://github.com/chenrujun/azure-spring-boot-samples/tree/azure-spring-boot-samples-issues-557/aad/spring-cloud-azure-starter-active-directory/web-client-access-resource-server/aad-resource-server).

But I cannot reproduce the problem you described in the issue.
The http reques

[2022-11-11 08:15] einue commented on #557
@chenrujun I also get an 401 for the webapiB when sending the correct bearer token.

I get the token Via Postman, the response is like:

`{
    "token_type": "Bearer",
    "scope": "api://tenantID/WebApi.ConstructionsiteScope",
    "expires_in": 5120,
    "ext_expires_in": 5120,
    "access_token": "******"
}`

And my Controller looks like :
` @GetMapping("/webapiB")
    @ResponseBody
    @PreAuth

[2022-11-11 08:29] chenrujun commented on #557
@einue

It should be **clientID** of **WebApi** instead of **teanntID**.

1. Same here, it should be **clientID** of **WebApi** instead of **teanntID**.
2. Delete **/WebApi.ConstructionsiteScope** in **app-id-uri**.

Check the readme about app-id-uri:
![image](https://user-images.githubusercontent.com/13167207/201298639-0b151357-d685-4828-9a88-339dfd033c60.png)

[2022-11-11 08:32] einue commented on #557
@chenrujun : thank you, it works now :)

[2022-11-11 08:32] #557 closed

[2022-11-17 14:55] TheovanKraay opened #572 "[FEATURE REQ] Show Azure AD sample with passwordless credentials"
Show Azure AD sample with passwordless credentials (DefaultAzureCredential). See PR comment here: https://github.com/Azure-Samples/azure-spring-boot-samples/pull/567#discussion_r1022340646.

- [x] Description Added
- [ ] Expected solution specified

[2022-11-17 14:57] TheovanKraay opened #573 "[FEATURE REQ] Create Resources for Cosmos Azure AD Sample using Terraform"
Create Resources for Cosmos Azure AD Sample using Terraform. See PR comment here: https://github.com/Azure-Samples/azure-spring-boot-samples/pull/567#discussion_r1022341611

- [x] Description Added

[2022-11-17 18:25] TheovanKraay opened #577 "[FEATURE REQ] Refactor AKS sample to use existing sample"
See comment to PR here: https://github.com/Azure-Samples/azure-spring-boot-samples/pull/567#discussion_r1022571854

- [x] Description Added

[2022-11-24 13:54] stliu commented on #40
@chenrujun I'm reassigning this to you since this is part of our samples visibility tasks

[2022-11-24 15:42] stliu commented on #32
@fangjian0423  please take a look of this issue, and provide priorities, anything urgent and have more impact should be done and those only, we already have lots of things to do

[2022-11-24 15:58] stliu commented on #67
I don't get your idea here, this link is a tutorial of using asp, why does it should introduce spring-security or spring cloud auzre?
https://docs.microsoft.com/en-us/azure/active-directory/develop/tutorial-v2-asp-webapp

[2022-11-25 01:52] chenrujun commented on #67
@stliu

## 1

I mean add spring-security related sample here:
![image](https://user-images.githubusercontent.com/13167207/203883672-364adb36-f7a8-4005-ae91-b67dde36a9a1.png)

Since there is no link to `Tutorials` node, I use the first node under `Tutorials` node.
![image](https://user-images.githubusercontent.com/13167207/203883764-06dd64af-711e-47f4-92f2-ac4ee847b7a7.png)

## 2

I mean add spring

[2022-11-25 01:52] #67 closed

[2022-11-29 07:44] fangjian0423 opened #596 "[Discussion] CloudFoundry sample"
## Context

Pivotal Cloud Foundry is a PaaS platform managed by Pivotal.

VMware [Tanzu Application Service](https://tanzu.vmware.com/application-service) (TAS), formerly Pivotal Cloud Foundry (PCF), is a modern application platform that provides a best-in-class developer experience. It is based on Cloud Foundry, an open-source cloud app platform providing a choice of clouds, developer frameworks,

[2022-11-29 07:46] fangjian0423 commented on #596
I think there is no need to maintain cloud foundry sample, should drop it.